<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.android.quadroavisos">
    <application android:icon="@drawable/icon">
        <activity android:name="com.android.quadroavisos.MainAcitivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.quadroavisos.NoteEdit" />
        <activity android:name="com.android.quadroavisos.LoginActivity" />
        <activity android:name="com.android.quadroavisos.RegisterActivity" />
    </application>
</manifest> 